body {
	background: rgb(252, 253, 252);
	color: #000;
}

header {
	/* background: #0B6; */
	padding: 0px;
	margin-bottom: 0px;
}

.footer {
	margin-top: 10px;
	height: 100px;
	background-color: #000;
	color:#fff;
}

/*-------ICONOS INSANOS FREE FIRE-------*/
.op_navbar svg {
	width: 70px;
	height: 45px;
}


/*-------NAVBARS Y BREADCRUMBS--------*/

.breadcrumb_color{
	background-color: #7BE16E;
	font-weight: bold;
}

.op_navbar{
	color: #fff; 
	font-size: 25px; 
	text-align: center;
	padding-top: 0px;
	padding-left: 10px;
	padding-bottom: 0px;
	padding-right: 10px;
}
.op_navbar:hover{
	color: #fff; 
	text-decoration: none;
	font-size: 25px; 
	text-align: left;
	padding-top: 0px;
	padding-left: 10px;
	padding-bottom: 0px;
	padding-right: 10px;
}

/*-------CONTENEDORES-------*/
.container-minimo{
	min-height: 660px;
}
.container-fluid {
	max-width: 1700px;
}
.container-peque{
	max-width: 1000px;
	max-height: 700px;
	background-color: #06327B;
	border-radius: 25px
}
.container-agregar{
	max-width: 850px;
	max-height: 700px;
	background-color: #21A90F;
	border-radius: 25px
}
.container-sesion{
	max-height: 700px;
	background-color: #E7FEE2;
	border-radius: 25px
}
.container-delgado{
	max-width: 500px;
	background-color: #06327B;
	border-radius: 25px
}
.container-med{
	max-width: 1700px;
	background-color: #21A90F;
	border-radius: 25px;
	padding: 5px;
}
.container-med-sf{
	max-width: 1700px;
	background-color: #E7FEE2;
	border-radius: 25px;
	padding: 5px;
}
.container-big{
	max-width: 1000px;
	height: 700px;
	margin: 20px auto;
	background-color: #21A90F;
	border-radius: 25px
}
.espacio-texto{
	padding-top: 10px; 
	padding-bottom: 10px;
	color: #000000; /*color de letra*/
}
.espacio-olvidastecontra{
	padding-top: 10px; 
	padding-bottom: 10px;
	color: #ffffff; /*color de letra*/
}

.espacio-naranjaalternativo{
	padding-top: 10px; 
	padding-bottom: 10px;
	color: #F7A71E; /*color de letra*/
}

/*-------BOTONES-------*/
.btn-confirmar {
	display: flex;
	align-items: center;
	margin: 10px auto; /* Establece márgenes automáticos horizontalmente */
	background-color: #F7A71E; /*color de fondo*/
	color: #000000; /*color de letra*/
	font-size: 20px; /*tamaño de letra*/
	border: 3px solid #000;
	border-radius: 25px;
	text-decoration: none;
	padding: 5px 15px;
	transition: 0.3s;
}
.btn-confirmar:hover {
	background-color: #e49000; /*color de fondo*/
	color: #000; /*color de letra*/
	transition: 0.3s;
}
.btn-confirmar:active {
	background-color: #F7A71E; /*color de fondo*/
	color: #000; /*color de letra*/
	transition: 0.3s;
}
.btn-cancelar {
	display: flex;
 	align-items: center;
	margin: 10px auto; /* Establece márgenes automáticos horizontalmente */
	text-align: center; /* Centra el texto dentro del botón */
	background-color: #ffffff; /*color de fondo*/
	color: #000000; /*color de letra*/
	font-size: 20px; /*tamaño de letra*/
	border: 3px solid #000;
	border-radius: 25px;
	padding: 5px 37px;
	transition: 0.3s;
}
.btn-cancelar:hover {
	background-color: #000; /*color de fondo*/
	color: #fff; /*color de letra*/
	transition: 0.3s;
}
.btn-cancelar:active {
	background-color: #ffffff; /*color de fondo*/
	color: #000000; /*color de letra*/
	transition: 0.1s;
}
.btn-IsEmp{
	display: flex;
	align-items: center;
	margin: 10px auto; /* Establece márgenes automáticos horizontalmente */
	text-align: center; /* Centra el texto dentro del botón */
	background-color: #ffffff; /*color de fondo*/
	color: #000000; /*color de letra*/
	font-size: 15px; /*tamaño de letra*/
	border: 3px solid #000;
	border-radius: 25px;
	padding: 2px 5px;
	transition: 0.3s;
}
.btn-IsEmp:hover{
	background-color: #000; /*color de fondo*/
	color: #fff; /*color de letra*/
	transition: 0.3s;
}
.btn-IsEmp:active {
	background-color: #ffffff; /*color de fondo*/
	color: #000000; /*color de letra*/
	transition: 0.1s;
}
/*-------CAMPOS PA RELLENAR-------*/

.campo_borde{
	border: 3px solid #000;
	border-radius: 25px
}
/*-------TITULOS-------*/

.titulo{
	font-size: 50px; 
	text-align: center; 
	font-weight: bold;
}

.titulo_izq{
	font-size: 50px; 
	text-align: left; 
	font-weight: bold;
}

.subtitulo{
	font-size: 40px; 
	text-align: center; 
	font-weight: bold;
}
.subtitulo_izq{
	font-size: 40px; 
	text-align: left; 
	font-weight: bold;
}
.sub_subtitulo_izq{
	font-size: 25px; 
	text-align: left; 
	font-weight: bold;
	margin: 5px;
	color: #fff; /*color de letra*/
}
.sub_subtitulo_der{
	font-size: 25px; 
	text-align: right; 
	font-weight: bold;
	padding-top: 5px;
	color: #fff; /*color de letra*/
}
.nombre{
	font-size: 30px; 
	text-align: center; 
	font-weight: bold;
}

.parrafo{
	font-size: 30px; 
	text-align: center;
}
.espacio_row{
	margin-top: 10px;
	margin-bottom: 10px;
}

/*-------TITULOS PARA MODAL-------*/
.titulo_modal{
	font-size: 25px;
	font-weight: bold;
}
.subtitulo_modal{
	font-size: 20px;
	font-weight: bold;
}
.parrafo_modal{
	font-size: 20px;
	font-weight: bold;
}


/*-------IMAGENES-------*/

.img_centro{
	display: block;
	text-align: center;
	margin: 10px auto;
}

/*-------LINKS-------*/

.link_gs{
	color: #ffffff;
	text-decoration: none;
}
.link_gs:hover{
	color: #F7A71E;
	text-decoration: none;
}
.link_sg{
	color: #000;
}
.link_sg:hover{
	color: #000;
	text-decoration: none;
}
.error {
    border: 1px solid red;
}

.textodes{
    color: #fff;
}